{% extends "base.html"%}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">Booking Details</h4>
        </div>
        <div class="card-body">
            <!-- User Information Section -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <p><strong>Username:</strong> {{ booking.user.username }}</p>
                    <p><strong>Email:</strong> {{ booking.user.email }}</p>
                    <p><strong>Phone Number:</strong> {{ booking.phone_number }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Booking ID:</strong> {{ booking.id }}</p>
                    <p><strong>Table Number:</strong> {{ booking.table.table_number }}</p>

                </div>
            </div>

            <!-- Booking Details Section -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <p><strong>Date:</strong> {{ booking.booking_date|date:"F j, Y" }}</p>
                    <p><strong>Time:</strong> {{ booking.booking_time }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Number of Guests:</strong> {{ booking.number_of_guests }}</p>
                </div>
                <!-- Remarks Section (optional) -->
                {% if booking.remarks %}
             
                    <div class="col-md-12">
                        <p><strong>Remarks:</strong> {{ booking.remarks }}</p>
                    </div>
        
                {% endif %}
            </div>



            <!-- Back Button -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'booking_list' %}" class="btn btn-secondary" aria-label="Go back to the booking list">
                        <i class="fas fa-arrow-left"></i> Back to Booking List
                    </a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            Created on: {{ booking.created_on|date:"F j, Y, g:i a" }}
        </div>
    </div>
</div>

{% endblock %}