{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<h1>{% if booking_id %}Edit{% else %}Book{% endif %} a Table</h1>
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Book a table for a specific date and time. Please note our restaurant operates in two shifts:</p>
        <ul>
            <li>Morning Shift: 10:00 AM - 2:00 PM</li>
            <li>Evening Shift: 5:00 PM - 10:00 PM</li>
        </ul>

        <div class="my-5">
            <form id="bookingForm" method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <!-- Submit Button -->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">
                    {% if booking_id %}Update{% else %}Book Now{% endif %}
                </button>

                <!-- Back to the booking list button -->
                <a href="{% url 'booking_list' %}" class="btn btn-secondary text-uppercase">Back to Booking List</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}

