{% extends "base.html" %}
{% block content %}
{% load static %}

<h1>{% if booking_id %}Edit{% else %}Book{% endif %} a Table</h1>
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Book a table for a specific date and time. Please note our restaurant operates in two shifts:</p>
        <ul>
            <li>Morning Shift: 10:00 AM - 2:00 PM</li>
            <li>Evening Shift: 5:00 PM - 10:00 PM</li>
        </ul>

        <div class="my-5">
            <form id="bookingForm" method="POST">
                {% csrf_token %}

                <!-- Table field -->
                <div class="form-floating">
                    <select class="form-select" id="table" name="table" required>
                        <option value="" selected>Select a table</option>
                        {% for table in form.fields.table.queryset %}
                        <option value="{{ table.id }}" {% if table.id == form.table.value %}selected{% endif %}>
                            {{ table.table_number }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="table">Table</label>
                    <div class="invalid-feedback">Please select a table.</div>
                </div>

                <!-- Date field -->
                <div class="form-floating">
                    <input class="form-control" id="date" name="booking_date" type="date"
                        value="{{ form.booking_date.value }}" required />
                    <label for="date">Booking Date</label>
                    <div class="invalid-feedback">A date is required.</div>
                </div>

                <!-- Shift selection field -->
                <div class="form-floating">
                    <select class="form-select" id="shift" name="shift" required>
                        <option value="" selected>Select a Shift</option>
                        {% for shift in form.fields.shift.queryset %}
                        <option value="{{ shift.id }}" data-start-time="{{ shift.start_time }}"
                            data-end-time="{{ shift.end_time }}"
                            {% if shift.id == form.shift.value %}selected{% endif %}>
                            {{ shift.name }} ({{ shift.start_time }} - {{ shift.end_time }})
                        </option>
                        {% endfor %}
                    </select>
                    <label for="shift">Shift</label>
                    <div class="invalid-feedback">Please select a shift.</div>
                </div>

                <!-- Time selection field -->
                <div class="form-floating">
                    <input class="form-control" id="bookingTime" name="booking_time" type="time"
                        value="{{ form.booking_time.value }}" placeholder="Select a time..." required>
                    <label for="bookingTime">Booking Time</label>
                    <div class="invalid-feedback">A valid time within the selected shift is required.</div>
                </div>

                <!-- Number of Guests field -->
                <div class="form-floating">
                    <input class="form-control" id="guests" name="number_of_guests" type="number"
                        value="{{ form.number_of_guests.value }}" required />
                    <label for="guests">Number of Guests</label>
                    <div class="invalid-feedback">The number of guests is required.</div>
                </div>

                <!-- Phone number -->
                <div class="form-floating">
                    <input class="form-control" id="phone" name="phone_number" type="tel"
                        value="{{ form.phone_number.value }}" placeholder="Phone number..." />
                    <label for="phone">Phone Number</label>
                </div>

                <!-- Remarks (optional) -->
                <div class="form-floating">
                    <textarea class="form-control" name="remarks" id="remarks">{{ form.remarks.value }}</textarea>
                    <label for="remarks">Remarks</label>
                </div>

                <br />

                <!-- Submit Button -->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">
                    {% if booking_id %}Update{% else %}Book Now{% endif %}
                </button>

                <!-- Back to the booking list button -->
                <a href="{% url 'booking_list' %}" class="btn btn-secondary text-uppercase">Back to Booking List</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
