html, body {
    height: 100%; /* Make sure the html and body elements take up the full height of the viewport */
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the wrapper takes the full viewport height */
}

.content {
    flex: 1; /* This makes the content area expand and fill the available space */
}

.footer {
    background-color: #f8f9fa; /* Example background color */
    padding: 20px 0;
    text-align: center;
}


.nav-style {
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.nav-style:hover {
    color: rgb(198, 198, 198);
}

/* Menu style  */
.card {
    height: 800px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.card-img-container {
    height: 200%; 
    overflow: hidden;
}

.card-img-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    height: calc(100% - 100px);
    overflow-y: auto;
    padding: 15px;
}

.visible-btn {
    visibility: visible;
}

.nav-username {
    /* should be important */
    text-transform: none !important;
}

/* home page image styles */
.image-container {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-body-img {
    /* height: calc(100% - 100px); */
    height: 100%;
    object-fit: cover;
    overflow-y: auto;
    padding: 15px;
}

.bg-dark {
    background-color: #333 !important;
}

/* modal to be clickable in mobile device*/
.modal-backdrop {
    z-index: 1050 !important;
}

.modal {
    z-index: 1060 !important;
}

header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.7;
}

/* media queries for screen smaller than tablet */
@media screen and (max-width: 990px) {
    .nav-style {
        color: #0000008C;
    }
}


