html, body {
    height: 100%; /* Make sure the html and body elements take up the full height of the viewport */
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the wrapper takes the full viewport height */
}

.content {
    flex: 1; /* This makes the content area expand and fill the available space */
}

.footer {
    background-color: #f8f9fa; /* Example background color */
    padding: 20px 0;
    text-align: center;
}


.nav-style {
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.nav-style:hover {
    color: rgb(198, 198, 198);
}

/* /////////////////////////////// */

/* Ensure the card has a fixed height and scrollable content */
.card {
    height: 800px; /* Fixed height for the card. Adjust as needed */
    overflow: hidden; /* Hide any content that overflows the card */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    border-radius: 8px;
}

/* Ensure the image fits well within its container */
.card-img-container {
    height: 200%; /* Fixed height for the image container */
    overflow: hidden; /* Hide overflow if image is too large */
}

.card-img-container img {
    width: 100%; /* Ensure the image covers the width of the container */
    height: 100%; /* Ensure the image covers the height of the container */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-top-left-radius: 8px; /* Rounded corners on the top-left */
    border-top-right-radius: 8px; /* Rounded corners on the top-right */
}

/* Fixed height for the card body with scrollable content */
.card-body {
    height: calc(100% - 100px); /* Adjust based on total card height and image container height */
    overflow-y: auto; /* Adds vertical scrollbar if content exceeds height */
    padding: 15px; /* Padding inside the card body */
}








/* media queries for screen smaller than tablet */
@media screen and (max-width: 990px) {
    .nav-style {
        color: #0000008C;
    }
  }

