{% extends "base.html"%}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<h2>{% if item_id %}Edit the{% else %}Create a{% endif %} menu item</h2>
{% if user.is_authenticated and user.is_staff %}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ item_form|crispy }}
            <button type="submit" name="item_submit" class="btn btn-primary text-uppercase">
                {% if item_id %}Update{% else %}Create Now{% endif %}
            </button>
            <a href="{% url 'menu_category_list' %}" class="btn btn-secondary text-uppercase" aria-label="Back to Category List">Back to Category List</a>
        </form>
    </div>
</div>
{% else %}
<p>You do not have permission to create menu items.</p>
{% endif %}



{% endblock %}