<!-- using template inheritance  -->
{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="flex-grow-1 mb-0">Menu Categories</h2>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'create_menu_category' %}" class="btn btn-primary btn-sm btn-lg me-2" aria-label="Create a category">Create Category</a>
    <a href="{% url 'create_menu_item' %}" class="btn btn-primary btn-sm btn-lg" aria-label="Create a category item">Create Item</a>
    {% endif %}
</div>

<div class="accordion" id="menuAccordion">
    {% for category in categories %}
    <div class="accordion-item">

        <h2 class="accordion-header d-flex align-items-center" id="heading{{ category.id }}">
            <button class="accordion-button collapsed flex-grow-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ category.id }}" aria-expanded="false"
                aria-controls="collapse{{ category.id }}">
                {{ category.name }}
            </button>
            {% if user.is_authenticated and user.is_staff %}
            <div class="ms-3 d-flex align-items-center">
                <a href="{% url 'edit_menu_category' category.id %}" class="btn btn-warning btn-sm me-2"
                    title="Edit Category" aria-label="Edit the category">
                    <i class="fas fa-edit"></i>
                </a>
                <!-- Trigger the modal with this button -->
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#confirmDeleteCategoryModal{{ category.id }}" title="Delete Category">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            {% endif %}
        </h2>

        <!-- Confirmation delete Modal -->
        <div class="modal fade" id="confirmDeleteCategoryModal{{ category.id }}" tabindex="-1"
        aria-labelledby="confirmDeleteCategoryModalLabel{{ category.id }}" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteCategoryModalLabel{{ category.id }}">Confirm Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the category "{{ category.name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form method="post" action="{% url 'delete_menu_category' category.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="collapse{{ category.id }}" class="accordion-collapse collapse"
            aria-labelledby="heading{{ category.id }}" data-bs-parent="#menuAccordion">
            <div class="accordion-body">
                <div class="row">
                    {% for item in category.menu_items.all %}
                    <div class="col-md-6 mb-3">
                        <div class="card" style="max-width: 540px;">
                            <div class="card-img-container">
                                {% if "placeholder" in item.featured_image.url %}
                                <img src="{% static 'images/default.jpg' %}" alt="Menu placeholder image">
                                {% else %}
                                <img src="{{ item.featured_image.url }}" alt="{{ item.name }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                {% if user.is_authenticated and user.is_staff %}
                                <a href="{% url 'edit_menu_item' item.id %}" class="btn btn-warning btn-sm" title="Edit Item" aria-label="Edit the category item">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteItemModal{{ item.id }}" title="Delete Item" aria-label="Delete the category item">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                                {% endif %}
                                {% if item.status == 1 %}
                                <p class="fw-lighter fst-italic">(Available)</p>
                                {% else %}
                                <span class="fw-lighter fst-italic">(Unavailable)</span>
                                {% endif %}
                                <p class="card-text">{{ item.description }}</p>

                                <p class="card-text"><strong>{{ item.price }}€</strong></p>

                            </div>
                        </div>
                    </div>

                    <!-- Item Delete Confirmation Modal -->
                    <div class="modal fade" id="confirmDeleteItemModal{{ item.id }}" tabindex="-1"
                        aria-labelledby="confirmDeleteItemModalLabel{{ item.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteItemModalLabel{{ item.id }}">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete the menu item "{{ item.name }}"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form method="post" action="{% url 'delete_menu_item' item.id %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}