<!-- using template inheritance  -->
{% extends "base.html"%}
{% load static %}
{% block content %}

<h1>Home page</h1>
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-center flex-grow-1 mb-0">Menu list</h2>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'create_menu' %}" class="btn btn-primary">Create menu/Category</a>
    {% endif %}
</div>


<div class="accordion" id="menuAccordion">
    {% for category in categories %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ category.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ category.id }}" aria-expanded="false"
                aria-controls="collapse{{ category.id }}">
                {{ category.name }}
            </button>
        </h2>
        <div id="collapse{{ category.id }}" class="accordion-collapse collapse"
            aria-labelledby="heading{{ category.id }}" data-bs-parent="#menuAccordion">
            <div class="accordion-body">
                <div class="row">
                    {% for item in category.menu_items.all %}
                    <div class="col-md-6 mb-3"> <!-- Each item takes half of the row on medium screens and up -->
                        <div class="card" style="max-width: 540px;">
                            <div class="card-img-container">
                                {% if "placeholder" in item.featured_image.url %}
                                <img src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img src="{{ item.featured_image.url }}" alt="{{ item.name }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                {% if item.status == 1 %}
                                    <p class="fw-lighter fst-italic">(Abailable)</p>
                                {% else %}
                                    <span class="fw-lighter fst-italic">(Not available)</span>
                                {% endif %}
                                <p class="card-text">{{ item.description }}</p>
                                <p class="card-text"><strong>{{ item.price }}€</strong></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock %}